/*! HTML5 Boilerplate v5.1.0 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #000000;
  text-align: center; }

.beautymarkPage img {
  border: 10px solid #ff1493;
  border-radius: 100%;
  height: auto;
  width: 30%; }

.beautymarkPage .beautyMarkCaption h2 {
  font-size: 4.0vw;
  color: #f5f5f5; }

.beautymarkPage .beautyMarkCaption p {
  font-size: 1.5vw;
  color: #f5f5f5; }
  .beautymarkPage .beautyMarkCaption p a,
  .beautymarkPage .beautyMarkCaption p a:hover,
  .beautymarkPage .beautyMarkCaption p a:visited {
    margin-top: 2%;
    background-color: #ff1493;
    color: #f5f5f5;
    border: 1% solid #ff1493;
    padding: 1%;
    text-decoration: none;
    font-size: 2.0vw; }

body {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #000000;
  text-align: center; }

.chessboardPage img {
  border: 10px solid #ff1493;
  border-radius: 100%;
  height: auto;
  width: 30%; }

.chessboardPage .chessboardCaption h2 {
  font-size: 4.0vw;
  color: #f5f5f5; }

.chessboardPage .chessboardCaption p {
  font-size: 1.5vw;
  color: #f5f5f5; }
  .chessboardPage .chessboardCaption p a,
  .chessboardPage .chessboardCaption p a:hover,
  .chessboardPage .chessboardCaption p a:visited {
    margin-top: 2%;
    background-color: #ff1493;
    color: #f5f5f5;
    border: 1% solid #ff1493;
    padding: 1%;
    text-decoration: none;
    font-size: 2.0vw; }

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

body {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px; }

#first {
  background-color: #000000; }
  #first section {
    width: 80%;
    margin: auto; }
    #first section .picture {
      width: 40%;
      height: auto;
      float: left; }
      #first section .picture img {
        border: 10px solid #ff1493;
        border-radius: 100%;
        height: auto;
        width: 100%; }
    #first section .name {
      float: left;
      margin-left: 5%;
      text-align: center; }
      #first section .name h1 {
        font-size: 7.0vw;
        color: #ff1493; }
        #first section .name h1 small {
          font-size: 3.5vw;
          color: #f5f5f5; }

#second {
  background-color: #000000; }
  #second section {
    width: 80%;
    margin: auto; }
    #second section .aboutHeading {
      width: 30%;
      height: auto;
      float: left;
      text-align: center; }
      #second section .aboutHeading h1 {
        font-size: 7.0vw;
        color: #ff1493; }
    #second section .aboutContent {
      float: left;
      margin-left: 5%;
      width: 60%;
      text-align: center; }
      #second section .aboutContent p {
        font-size: 2.0vw;
        color: #f5f5f5; }
      #second section .aboutContent a,
      #second section .aboutContent a:hover,
      #second section .aboutContent a:visited {
        background-color: #ff1493;
        color: #f5f5f5;
        border: 1% solid #ff1493;
        padding: 2%;
        text-decoration: none;
        font-size: 2.0vw; }

#third {
  background-color: #000000; }
  #third section {
    width: 80%;
    margin: auto; }
    #third section .careerHeading {
      width: 30%;
      height: auto;
      float: right;
      text-align: center; }
      #third section .careerHeading h1 {
        font-size: 7.0vw;
        color: #ff1493; }
    #third section .careerContent {
      float: right;
      margin-right: 5%;
      width: 60%;
      text-align: center; }
      #third section .careerContent p {
        font-size: 2.0vw;
        color: #f5f5f5;
        margin-top: 15%; }

#fourth {
  background-color: #000000; }
  #fourth section {
    width: 80%;
    margin: auto; }
    #fourth section .skillsHeading {
      width: 30%;
      height: auto;
      float: left;
      text-align: center; }
      #fourth section .skillsHeading h1 {
        font-size: 7.0vw;
        color: #ff1493; }
    #fourth section .skillsContent {
      float: left;
      margin-left: 5%;
      width: 60%;
      text-align: center; }
      #fourth section .skillsContent .one {
        float: left;
        width: 40%;
        color: #f5f5f5;
        font-size: 2vw;
        list-style-type: none; }
      #fourth section .skillsContent .two {
        float: left;
        width: 40%;
        color: #f5f5f5;
        font-size: 2vw;
        list-style-type: none; }

#fifth {
  background-color: #000000; }
  #fifth section {
    width: 80%;
    margin: auto; }
    #fifth section .recentProjectsHeading {
      width: 30%;
      height: auto;
      float: right;
      text-align: center; }
      #fifth section .recentProjectsHeading h1 {
        font-size: 7.0vw;
        color: #ff1493; }
    #fifth section .recentProjectsContent {
      float: right;
      margin-right: 10%;
      width: 55%;
      text-align: center; }
      #fifth section .recentProjectsContent .beautymark {
        float: right;
        width: 45%;
        margin-top: 10%; }
        #fifth section .recentProjectsContent .beautymark a {
          border: none; }
        #fifth section .recentProjectsContent .beautymark img {
          border: 10px solid #ff1493;
          border-radius: 100%;
          height: auto;
          width: 100%; }
      #fifth section .recentProjectsContent .chessboard {
        float: right;
        margin-right: 10%;
        width: 45%;
        margin-top: 10%; }
        #fifth section .recentProjectsContent .chessboard a {
          border: none; }
        #fifth section .recentProjectsContent .chessboard img {
          border: 10px solid #ff1493;
          border-radius: 100%;
          height: auto;
          width: 100%; }

#sixth {
  background-color: #000000; }
  #sixth section {
    width: 80%;
    margin: auto; }
    #sixth section .letsConnectHeading {
      width: 30%;
      height: auto;
      float: left;
      text-align: center; }
      #sixth section .letsConnectHeading h1 {
        font-size: 7.0vw;
        color: #ff1493; }
    #sixth section .letsConnectContent {
      float: left;
      margin-left: 10%;
      padding-left: 5%;
      width: 55%; }
      #sixth section .letsConnectContent .social-links {
        float: left;
        text-align: left;
        width: 100%; }
        #sixth section .letsConnectContent .social-links a,
        #sixth section .letsConnectContent .social-links a:visited,
        #sixth section .letsConnectContent .social-links a:hover {
          text-decoration: none; }
        #sixth section .letsConnectContent .social-links small {
          color: #f5f5f5;
          font-size: 1.5vw; }
        #sixth section .letsConnectContent .social-links .fa-circle {
          color: #ff1493; }
        #sixth section .letsConnectContent .social-links .row1 {
          width: 100%;
          padding-top: 15%; }
          #sixth section .letsConnectContent .social-links .row1 .email {
            width: 50%;
            display: inline;
            text-align: center; }
            #sixth section .letsConnectContent .social-links .row1 .email .fa-envelope-o {
              color: #f5f5f5; }
          #sixth section .letsConnectContent .social-links .row1 .phone {
            width: 50%;
            margin-left: 10%;
            display: inline;
            text-align: center; }
            #sixth section .letsConnectContent .social-links .row1 .phone .fa-phone {
              color: #f5f5f5; }
        #sixth section .letsConnectContent .social-links .row2 {
          width: 100%;
          padding-top: 7%;
          margin-right: -15%; }
          #sixth section .letsConnectContent .social-links .row2 .github {
            width: 100%;
            text-align: center; }
            #sixth section .letsConnectContent .social-links .row2 .github .fa-github {
              color: #f5f5f5; }
        #sixth section .letsConnectContent .social-links .row3 {
          width: 100%;
          padding-top: 7%; }
          #sixth section .letsConnectContent .social-links .row3 .twitter {
            width: 50%;
            display: inline;
            text-align: center; }
            #sixth section .letsConnectContent .social-links .row3 .twitter .fa-twitter {
              color: #f5f5f5; }
          #sixth section .letsConnectContent .social-links .row3 .linkedin {
            width: 50%;
            margin-left: 10%;
            display: inline;
            text-align: center; }
            #sixth section .letsConnectContent .social-links .row3 .linkedin .fa-linkedin {
              color: #f5f5f5; }

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 70%; }
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0; }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px; } }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers:
 */
.hidden {
  display: none !important; }

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }
